*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal
{
    text-align: center;
    align-items: center;
    display: flex;
}

.secundaria
{
    display: flex;
    text-align: center;
    align-items: center;
}